.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.footer-item a {
  color: #fff;
}

.data > p > a:hover {
  text-decoration: underline;
}

.footer-item-a {
  width: 30%;
  text-align: center;
}

.data {
  font-size: 1em;
  width: 30%;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .card-footer {
    flex-direction: column-reverse;
  }

  .footer-item {
    width: 100%;
    text-align: center;
  }
}
