.infor-card-container:hover {
  padding: 0.25em !important;
}

.infor-card {
  position: relative;
}

.star-infor {
  font-size: 0.75em;
  width: 4em;
  position: absolute;
  top: 8%;
  left: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.name {
  position: absolute;
  bottom: 0;
}
