:root {
  --first_color: rgb(9, 219, 222);
  --second_color: rgb(36, 81, 158);
}

.not-found {
  font-weight: bold;
  font-size: 3em;
  color: linear-gradient(var(--first_color), var(--second_color));
}

.not-found p {
  font-size: 3.5em;
}

.not-found p,
.not-found span {
  color: linear-gradient(var(--first_color), var(--second_color));
}
