.detail-image {
  width: 30%;
  margin-right: 10%;
}
.person-img {
  width: 100%;
}
.person-img > img {
  width: 100%;
  height: auto;
  border-radius: 1em !important;
}
.detail-data {
  width: 60%;
}

.data {
  width: 100%;
}

@media (max-width: 768px) {
  .detail-image {
    width: 100%;
    margin-right: 10%;
  }
  .detail-data {
    width: 100%;
  }
  .first-th {
    display: none;
  }
}
